.product-card {
    background: #FAFAFA;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
}

.text-grey-light {
    color: #A29C9C;
}

.product-card img {
    height: 125px;
    object-fit: cover;
    margin-top: 23px;
}

.pdtDetails {
    padding: 25px;
    padding-top: 0;
}

.pdtDetails h5 {
    font-size: 13px;
    margin-bottom: 3px;
}

.offerTagProduct {
    position: absolute;
    top: 0;
    background: var(--violet-color);
    color: var(--white);
    border-radius: 0px 0px 10px 10px;
    padding: 5px 14px;
    margin-left: 36px;
    font-size: 14px;
}